.link {
  display: inline-block;
  vertical-align: top;
  transition: color, .2s;

  font-size: 15px;
  line-height: 32px;
  /* identical to box height, or 213% */

  letter-spacing: -0.01em;
  text-decoration-line: underline;

  color: #627AA2;

  &:hover {
    color: $color-blue-50;
  }

  &:focus,
  &:active {
    outline: 0;
    text-decoration: none;
  }
}

.link_active {
  color: $color-blue-50;
}

.link_light {
  color: $color-blue-10;

  &:hover {
    color: $color-blue-50;
  }
}

.link_dark {
  color: $font-color_dark;

  &:hover {
    color: $color-blue-50;
  }
}

.link_blue {
  color: $color-blue-50;
  
  &:hover {
    color: $color-blue-60;
  }
}

.link_underlined {
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}
